body{
    font-family: 'segoe ui';
}
h1{
    text-align: center;
}
.img{
    max-width: 100%;
}
.row div {
    float: left;
}
.col-md-4{
    width: 450px;
    background-color: rgba(99, 154, 206, 0.7);
    box-shadow: 10px 5px 5px rgb(99, 154, 206, 0.4);
    margin-left: 5%;
}
.blog-table{
    padding: 2%;
    margin-bottom: 20px;
}