#footer {
    width: 100%;
    position: relative;
    margin-bottom: 0%;
    margin-top: 8%;
}

.container-footer {
    position: relative;
    display: flex;
    width: 100%;
    align-content: space-between;
    justify-content: space-around;
    flex-wrap: nowrap;
}