body, html{height:100%;}

#footer {
    position:absolute;
    bottom: 0;
    width: 100%;
}

.container-footer {
    display: flex;
    width: 100%;
    align-content: space-between;
    justify-content: space-around;
    flex-wrap: nowrap;
}